$white: #ffffff;
$green: #578634;
$prim: #273a13;
$txtColor: #877E41;
$green2: #62732f;
$dark-gray: #252525;
$monsterrat: "Montserrat", sans-serif;

$trans: .3s ease-in-out;
*{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
// humberger menu
// #webapp_cover {
//     position: absolute;
//     top: 50%;
//     right: 0;
//     left: 0;
//     width: 39px;
//     margin: 0 auto;
//     transform: translateY(-50%) scale(2);
//   }
  
.monts{
    font-family: $monsterrat;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
  #menu_button {
    width: 39px;
    overflow: hidden;
  }
  
  #menu_checkbox {
    display: none;
  }
  
  #menu_label {
    position: relative;
    display: block;
    height: 29px;
    cursor: pointer;
  }
  
  #menu_label:before,
  #menu_label:after,
  #menu_text_bar {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: $prim;
  }
  
  #menu_label:before,
  #menu_label:after {
    content: "";
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55) left;
  }
  
  #menu_label:before {
    top: 0;
  }
  
  #menu_label:after {
    top: 12px;
  }
  
  #menu_text_bar {
    top: 24px;
  }
  
  #menu_text_bar:before {
    content: "MENU";
    position: absolute;
    top: 12px;
    right: 0;
    left: 0;
    color: $prim;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
  }
  
  #menu_checkbox:checked + #menu_label:before {
    left: -39px;
  }
  
  #menu_checkbox:checked + #menu_label:after {
    left: 39px;
  }
  
  #menu_checkbox:checked + #menu_label #menu_text_bar:before {
    animation: moveUpThenDown 0.8s ease 0.2s forwards,
      shakeWhileMovingUp 0.8s ease 0.2s forwards,
      shakeWhileMovingDown 0.2s ease 0.8s forwards;
  }
  
  @keyframes moveUpThenDown {
    0% {
      top: 0;
    }
    50% {
      top: -27px;
    }
    100% {
      top: -14px;
    }
  }
  
  @keyframes shakeWhileMovingUp {
    0% {
      transform: rotateZ(0);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    50% {
      transform: rotateZ(0deg);
    }
    75% {
      transform: rotateZ(10deg);
    }
    100% {
      transform: rotateZ(0);
    }
  }
  
  @keyframes shakeWhileMovingDown {
    0% {
      transform: rotateZ(0);
    }
    80% {
      transform: rotateZ(3deg);
    }
    90% {
      transform: rotateZ(-3deg);
    }
    100% {
      transform: rotateZ(0);
    }
  }
// animated
.animated  {
    -webkit-animation-duration : 5000 ms !important ;
    animation-duration : 5000 ms !important ;
    -webkit-animation-fill-mode : both  ;
    animation-fill-mode : both  ;
  }  

  .dropdown-toggle::after {
    display: none!important;
    margin-left:0!important;
    vertical-align: 0!important;
    content: none!important;
    border-top: 0!important;
    border-right: 0!important;
    border-bottom: 0!important;
    border-left: 0!important;
}
ul{
  li{
    a{
      color: $dark-gray!important;
      transition: .3s ease;
    }
  }
}

.bg_nav_white {
    background-color: rgba($color:  white, $alpha: 1);
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.1);
    transition: 0.5s ease-in-out;

    ul{
      li{
        a{
          color: $dark-gray!important;
          transition: .3s ease;
        }
      }
    }
}
header.fixed-top{
    transition: 0.5s ease-in-out;
}
.navbar-toggler:focus {
    outline: none!important; 
    box-shadow:none!important;
}

button.navbar-toggler.collapsed{
    outline:none!important;
    box-shadow:none!important;
}

// extra-Small devices (landscape phones, 375px and up)
@media (min-width: 375px) { 
    header{
      nav.navbar{
        background-color: rgba($color: $dark-gray, $alpha: .0);
      }
    }

    main{
      section#carousel{
        .owl-nav{
          position: absolute;
          left:6rem;
          bottom: 5rem;
          button.owl-prev, button.owl-next{
              margin: 0 .3rem;
              i{
                  position: relative;
                  z-index: 1;
                  padding: 15px 18px;
                  border: 3px solid $white;
                  border-radius: 100%;
                  color: $prim;
                  font-size:1.5rem!important;
              }
          }
      }
      }
    }

     
    footer{
      .main-footer{
        padding: 10rem 0 6rem 0;
      }
    }
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
    
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    
 }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    

    section#carousel{
        height: 100vh;
        z-index: -1;
      
        #carous{
            // margin-top: 8rem;
            .item{
                width: 100%;
                height: 100svh;
                overflow: hidden;

               #bg-img{
                height:  100svh;
                width: 100%;
                overflow: hidden;
               }

               .img-overlay{
                position: absolute;
                width: 100%;
                height: 100svh;
                overflow: hidden;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                z-index: 3;
                background: linear-gradient(45deg, rgba(0,161,155,.7) 10%, rgba(0,212,255,0) 50%);
              }

                .content{
                   width: 100%;
                    left: 50%;
                    top:50%;
                    transform: translate(-50%,-50%);
                }
            }
        }

        #soc-med{
            position: absolute;
            right: 5rem;
            top: 50%;
            transform: translateY(-50%);
            z-index: 2;
        }

        #hero-imgs{
            margin-top: 0rem;
            width: 50%;
            position: absolute;
            top: 8rem;
            z-index: 2;
            top:50%;
            transform: translateY(-50%);
            overflow: hidden;
            img{
                width:100%;
                object-fit: cover;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            img.hr-img1{
                min-height:300px;
                max-height: 400px;
            }
        }
    }

    section#services{
      padding: 10rem 0 10rem 0;
      background: center/cover;
      background-repeat: no-repeat;
      object-fit: cover;


      img{
          height: 50px;
          width: auto;
      }
    }

    section#rooms{
      padding: 10rem 0;

      h6.sm-title{
        position: relative;
        
      }

      h6.sm-title::after{
        position: absolute;
        content: '';
        height: 2px;
        width: 5rem;
        background-color: $dark-gray;
        top: 50%;
        margin-left: 1.5rem;
        transform: translateY(-50%);
      }
      img{
          width: 100%;
          object-fit: cover;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          transition: $trans;
      }
      img.img-1{
          height: 250px;
          width: 80%;
      }

      img.img-2{
          height: 350px;
          width: 80%;
      }
      img.img-3{
          height: 350px;
          width: 80%;
      }
      img.img-4{
          height: 200px;
          width: 60%;
      }


      .accom-wrap{
          .row-wrap{
              top: 50%;
              transform: translateY(-30%);
          }
      }
    }

    section#about{
      padding: 13rem 0;

      img.content-icon{
          height: 60px;
      }
      .about-img-wrap{
          img{
              object-fit: cover;
              background-size: cover;
              background-position: center;
              height: 400px;
          }
          img.about-img1{
              margin-bottom: 7rem;
          }
          img.about-img2{
              margin-top: 7rem;
          }
      }

      h2{
        div.flex-grow-1{
          position: relative;
        }
      }

      h2{
        div.flex-grow-1::after{
          position: absolute;
          content: '';
          height: 2px;
          width: 5rem;
          background-color: $dark-gray;
          bottom: 1rem;
          margin-left:1rem;
        }
      }
    }

    section#contact{
        padding: 0 0 10rem 0;
        img{
            height: 100%;
            width: auto;
            object-fit: cover;
            background: cover/center;
        }
    }

   // ACCOMODATION
   section#jumbotron{
    height: 60svh;
    width: 100%;

    .jumb-overlay {
      position: absolute;
      width: 100%;
      height: 60svh;
      overflow: hidden;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      z-index: 5;
      background: linear-gradient(201deg, rgba(0,161,155,1) 0%, rgba(0,212,255,0) 61%);
    }


    .jumb-cont{
      height: 60svh;
        .jumb-col{
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }

    section#cont-wrap{
      padding: 10rem 0 10rem 0;
      background: center/cover;
      background-repeat: no-repeat;
      object-fit: cover;
      background-color: $dark-gray;
        .accom-wrap{
            img{
                background: center/cover;
                object-fit: cover;
            }
            img.accom-img-1{
                height: 230px;
                width: 70%;
            }
            img.accom-img-2{
                height: 325px;
                width: 80%;
            }
            img.accom-img-3{
                height: 280px;
                width: 80%;
            }
            img.accom-img-4{
                height: 180px;
                width: 60%;
            }
        }
    }

    section#accom{
        margin: 10rem 0 10rem 0;
        .card{
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          object-fit: cover;
            .card-body{
                p.crd-txt-2 {
                    line-height: 0;
                }
            }

            #room-imgs{
                img{
                    height: 200px;
                    width: 100%;
                    object-fit: cover;
                    background: cover/center;
                }
            }
        }
    }
 }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { 
    
 }