$white: #ffffff;
$green: #578634;
$prim: #008080;
$txtColor: #877E41;
$green2: #62732f;
$dark-gray: #252525;
$light-teal: #EDFFFE;

$monsterrat: "Montserrat", sans-serif;

$trans: .3s ease-in-out;
*{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header{
  nav{
    ul.navbar-nav{
      li.nav-item{
        a.nav-link{
          text-transform: uppercase!important;
        }
      }

      ul.dropdown-menu{
        li{
          a{
            text-transform: uppercase!important;
          }
        }
      }
    }
  }
 
}
  
.monts{
    font-family: $monsterrat;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
  #menu_button {
    width: 39px;
    overflow: hidden;
  }
  
  #menu_checkbox {
    display: none;
  }
  
  #menu_label {
    position: relative;
    display: block;
    height: 29px;
    cursor: pointer;
  }
  
  #menu_label:before,
  #menu_label:after,
  #menu_text_bar {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: $prim;
  }
  
  #menu_label:before,
  #menu_label:after {
    content: "";
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55) left;
  }
  
  #menu_label:before {
    top: 0;
  }
  
  #menu_label:after {
    top: 12px;
  }
  
  #menu_text_bar {
    top: 24px;
  }
  
  #menu_text_bar:before {
    content: "MENU";
    position: absolute;
    top: 12px;
    right: 0;
    left: 0;
    color: $prim;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
  }
  
  #menu_checkbox:checked + #menu_label:before {
    left: -39px;
  }
  
  #menu_checkbox:checked + #menu_label:after {
    left: 39px;
  }
  
  #menu_checkbox:checked + #menu_label #menu_text_bar:before {
    animation: moveUpThenDown 0.8s ease 0.2s forwards,
      shakeWhileMovingUp 0.8s ease 0.2s forwards,
      shakeWhileMovingDown 0.2s ease 0.8s forwards;
  }
  
  @keyframes moveUpThenDown {
    0% {
      top: 0;
    }
    50% {
      top: -27px;
    }
    100% {
      top: -14px;
    }
  }
  
  @keyframes shakeWhileMovingUp {
    0% {
      transform: rotateZ(0);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    50% {
      transform: rotateZ(0deg);
    }
    75% {
      transform: rotateZ(10deg);
    }
    100% {
      transform: rotateZ(0);
    }
  }
  
  @keyframes shakeWhileMovingDown {
    0% {
      transform: rotateZ(0);
    }
    80% {
      transform: rotateZ(3deg);
    }
    90% {
      transform: rotateZ(-3deg);
    }
    100% {
      transform: rotateZ(0);
    }
  }
// animated
.animated  {
    -webkit-animation-duration : 5000 ms !important ;
    animation-duration : 5000 ms !important ;
    -webkit-animation-fill-mode : both  ;
    animation-fill-mode : both  ;
  }  

  .dropdown-toggle::after {
    display: none!important;
    margin-left:0!important;
    vertical-align: 0!important;
    content: none!important;
    border-top: 0!important;
    border-right: 0!important;
    border-bottom: 0!important;
    border-left: 0!important;
}

ul{
  li{
    a{
      color: $dark-gray!important;
      transition: .3s ease;
    }
  }
}

.bg_nav_white {
    background-color: $light-teal;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.1);
    transition: 0.5s ease-in-out;

    ul{
      li{
        a{
          color: $dark-gray!important;
          transition: .3s ease;
        }
      }
    }
}
header.fixed-top{
    transition: 0.5s ease-in-out;
}
.navbar-toggler:focus {
    outline: none!important; 
    box-shadow:none!important;
}

button.navbar-toggler.collapsed{
    outline:none!important;
    box-shadow:none!important;
}


// extra-Small devices (portait phones, 375px and up)
@media (min-width: 375px) { 
  body{
    .title-sub{
      letter-spacing: 5px;
    }
  }
  // carousel
  section#carousel{
    .owl-nav{
      position: absolute;
      left:6rem;
      bottom: 5rem;
      button.owl-prev, button.owl-next{
          margin: 0 .3rem;
          i{
              position: relative;
              z-index: 1;
              padding: 15px 18px;
              border: 3px solid $white;
              border-radius: 100%;
              color: $prim;
              font-size:1.5rem!important;
          }
      }
    }

    .carous-wrap{
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      z-index: 5;
    }

  }


  // NATURE WALK PAGE
  section#nature-sec-2, section#well-sec-2{
    button#prevBtn-1, button#nextBtn-1{
      padding: 16px 22px;
      border-radius: 100%;
      color: $light-teal;
      font-size:1.5rem!important;
    }
  }

  section#nature-sec-2{
    button#prevBtn-1, button#nextBtn-1{
      color: $light-teal;
      border: 3px solid $light-teal;
    }
  }
  section#well-sec-2{
    button#prevBtn-1, button#nextBtn-1{
      color: $prim;
      border: 3px solid $prim;
    }
  }


  section#nature-sec-5{
    button#prevBtn-2, button#nextBtn-2{
      padding: 16px 22px;
      border: 3px solid $prim;
      border-radius: 100%;
      color: $prim;
      font-size:1.5rem!important;
    }

  }
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
    
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    
 }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    a.navbar-brand{
      top: -.5rem;
      left: 50%;
      transform: translateX(-50%);
      img.img-1{
        z-index: 3;
      }
      img.img-2{
        top:-2rem;
        left: 50%;
        transform: translateX(-50%);
        height: 80px;
        z-index: 1;
      }
    }


    // INDEX PAGE
    section#carousel{
      height: 100vh;
      width: 100%;
      z-index: -1;
    
      #carous{
          .item{
              width: 100%;
              height: 100svh;
              overflow: hidden;

             #bg-img{
              height:  100svh;
              width: 100%;
              overflow: hidden;
             }

              .content{
                 width: 100%;
                  left: 50%;
                  top:50%;
                  transform: translate(-50%,-50%);
              }
          }
      }

      .carous-wrap{
        top: 40%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 5;
      }

      #soc-med{
        
        .position-absolute{
          top: 70%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 5;
        }

        a{
          color: $white;
          transition: $trans;
        }

        a:hover{
          color: $prim;
        }
      }


      .owl-nav{
        left: 50%;
        transform: translateX(-50%);
       
      }

     
    }

    section#welcome{
      padding: 10rem 0;
      background-repeat: repeat;
      background-size: 50%;

      .welcome-imgs-wrap{
        img{
          width: 100%;
          height: 320px;
          object-fit: cover;
        }
      }
    }

    section#accommodation{
      padding: 10rem 0;

      .accom-imgs-wrap{
        img{
          width: 100%;
          object-fit: cover;
        }
        
        img.accom-img-1{
          height: 400px;
        }
        img.accom-img-2{
          height: 450px;
          top: -20rem;
        }
        img.accom-img-3{
          height: 300px;
          bottom: 0;
        }
  
        .btn-accom {
          top: 10rem;
          right: 0;
        }
  
      }

      .accom-room{
        img{
          height: 150px;
          width: 150px;
          object-fit: cover;
          background-size: cover;
        }
      }
    }

    section#service{
      padding: 10rem 0;
      background-repeat: repeat;
      background-size: 50%;

      .service-icons{
        img{
          width: 100%;
          height: 60px;
        }
      }

      .serv-cont-imgs{
        img{
          width: 100%;
          height: 150px;
        }
      }
    }

    section#others{
      padding: 10rem 0 12rem 0;
      overflow: hidden;

      .other-img-wrap{
        overflow: hidden;
        img{
          width: 100%;
          height: 170px;
          background-size: cover;
          background-repeat: no-repeat;
          object-fit: cover;
          border-radius: 32px 32px 0 0;
        }
      }

     
    }

    section#blog{
      padding: 10rem 0;

      .card{
        img{
          width: 100%;
          height: 250px;
          background-size: cover;
          object-fit: cover;
        }

        .card-body{
          a{
            transition: $trans;
            padding-left: 0;
          }
          a:hover{
            padding-left: .5rem;
          }
        }
        
      }
    }

    // END OF INDEX PAGE

    // NATURE WALK PAGE
    section#jumbotron{
      overflow: hidden;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 75svh;

      div#jumb-col{
        height: 75svh;


        .jumb-wrap{
          top: 50%;
          transform: translateY(-50%);
        }
      }


      .jumb-overlay{
          position: absolute;
          width: 100%;
          height: 100svh;
          overflow: hidden;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          z-index: 3;
          background: linear-gradient(207deg, rgba(0,161,155,0.3551471614036239) 0%, rgba(0,212,255,0.00500710538121496) 70%);
        }
        .col-12{
          z-index: 5;
        }
    }
    section#nature-sec-1{
      padding: 10rem 0;
      background-repeat: repeat;
      background-size: 50%;

      .imgs-1{
        img{
          width: 100%;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          object-fit: cover;
        }

        img.img-1{
          height: 150px;
        }
        img.img-2{
          height: 400px;
          position: absolute;
          width:80%;
          top: -1.5rem;
        }
        img.img-3{
        
          height: 400px;
        }

      }

      .imgs-2{
        img:nth-child(1){
          width: 100%;
          height: 150px;
          object-fit: cover;
          background-position: center;
          background-size: cover;
        }
        img:nth-child(2){
          width: 100%;
          height:150px;
          object-fit: cover;
          background-position: center;
          background-size: cover;
        }
      }
    }

    section#nature-sec-2{
      padding: 10rem 0;
      background-repeat: repeat;
      background-size: 50%;
      button#prevBtn-1, button#nextBtn-1{
        padding: 16px 22px;
        border: 3px solid $light-teal;
      }


      #nat-carous1{
        .item{
          height: auto;
          width: 100%;
         

          img{
            border-radius: 16px;
            height: 500px;
            width: 100%;
            object-fit: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
          }
        }
      }

     
    } 

    section#nature-sec-3{
      padding: 10rem 0;
      background-repeat: repeat;
      background-size: 50%;

      img{
        width: 100%;
        background-size: cover;
        object-fit: cover;
        background-repeat: no-repeat;
        background-position: center;
      }

      img.img-1{
        height: 505px;
      }

      img.img-2{
        height: 240px;
      }

      img.img-3{
        height: 240px;
      }

    }

    section#nature-sec-4{
      padding: 10rem 0;
      background-repeat: repeat;
      background-size: 50%;

      .row.row-cols-2.g-4.imgs-2{
        img{
          width: 100%;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          object-fit: cover;
        }

        img.img4-1{
          width: 100%;
          height: 400px;
        }
        img.img4-2{
          width: 100%;
          height:390px;
          position: absolute;
          bottom: -6rem;
        }
      
      }
    }
    section#nature-sec-5{
      padding: 10rem 0;

      button#prevBtn-2, button#nextBtn-2{
        padding: 16px 22px;
        border: 3px solid $prim;
      }

      #nat-carous2{
        .item{
          height: auto;
          width: 100%;
         
          img{
            border-radius: 16px;
            height: 500px;
            width: 100%;
            object-fit: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
          }
        }
      }


    }

    // END OF NATURE WALK PAGE

    // ABOUT PAGE
    section#about-sec-1{
      padding: 10rem 0;
      padding: 10rem 0;
      background-repeat: repeat;
      background-size: 50%;
      img{
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: cover;
      }

      img.about-img-1{
       margin-top: 10rem;
        height: 400px;
      }
      img.about-img-2{
         height: 400px;
       }


       img.about-img-3, img.about-img-4{
         height: 150px;
       }
    }
    // END OF ABOUT PAGE


    // BIRD PAGE
    section#bird-sec-1{
      padding: 10rem 0;
      background-repeat: repeat;
      background-size: 50%;
    }

    // CONTACT PAGE
    section#contact{
      padding: 10rem 0;

      .row.row-cols-2{
        iframe{
          height: 370px;
        }

        img{
          height: 200px;
          width: 100%;
        }
      }
    }


    // WELLNESS PAGE
    section#well-sec-1{
      padding: 10rem 0;
      background: center/over repeat;
      background-size: 50%;

      .img-float{
        img{
          width: 100%;
          height: 300px;
          object-fit: cover;
          background: center/cover no-repeat;
        }
      }
    }
    section#well-sec-2{
      padding: 20rem 0 10rem 0;

      #nat-carous1{
        img{
          width: 100%;
          height: 500px!important;
        }
      }
    }

    section#well-sec-3{
      padding: 10rem 0;
      background: center/over repeat;
      background-size: 50%;
      img{
        width: 100%;
        background-size: cover;
        object-fit: cover;
        background-repeat: no-repeat;
        background-position: center;
      }

      img.img-1{
        height: 505px;
      }

      img.img-2{
        height: 240px;
      }

      img.img-3{
        height: 240px;
      }
    }

    section#well-sec-4{
      padding: 10rem 0;
      .row.row-cols-2.g-4.imgs-2{
        img{
          width: 100%;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          object-fit: cover;
        }

        img.img4-1{
          height: 400px;
        }
        img.img4-2{
          height:390px;
          position: absolute;
          bottom: -6rem;
        }
      
      }
    }
    // footer
    footer{
      background-repeat: repeat;
      background-size: 50%;

      .container{
        padding: 10rem 0 3rem 0;
      }
      .footer-logo{
        width: auto;
        height: 120px;
        top:-13.8rem;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { 
    
 }